{% extends 'base.html' %}
{% block content %}
<div class="text-center mt-5 vh-100">
    
    <h2>About section</h2><hr >
    <div class="fs-6 m-5"><p>"MyCalci is a website that provides a variety of online calculators for use in a variety of fields,
        including math, science, engineering, and finance. The calculators are easy to use and provide accurate results.
        They are a great resource for students, professionals, and anyone else who needs to perform calculations.
        The website was created by a team of engineers and mathematicians who wanted to make it easier for people to
        perform calculations. They believe that calculations should be easy to do, and they are committed to providing
        the best possible calculators.</p><br>
       <p> The website is constantly being updated with new calculators. If you need a calculator for a specific task,
        please let us know and we will add it to the website.</p><br>
        <p>I hope you find Calculation Tools to be a useful resource. Thank you for using our website!"</p>
    </div>
</div>
{% endblock %}