{% extends 'base.html' %}
{% block content %}
<div class="col col-md-9 col-sm-9 right vh-100 text-center justify-content-center d-flex align-items-center">
    <div class="box">
        <input type="text" class="show" id="show" value="0" >
        <div class="col mt-2">
            <button class="btns" id="btns">AC</button>
            <button class="btns" id="btns">C</button>
            <button class="btns" id="btns">00</button>
            <button class="btns" id="btns">/</button>
        </div>
        <div class="col">
            <button class="btns" id="btns">7</button>
            <button class="btns" id="btns">8</button>
            <button class="btns" id="btns">9</button>
            <button class="btns" id="btns">*</button>
        </div>
        <div class="col">
            <button class="btns" id="btns">4</button>
            <button class="btns" id="btns">5</button>
            <button class="btns" id="btns">6</button>
            <button class="btns" id="btns">-</button>
        </div>
        <div class="col">
            <button class="btns" id="btns">1</button>
            <button class="btns" id="btns">2</button>
            <button class="btns" id="btns">3</button>
            <button class="btns" id="btns">+</button>
        </div>
        <div class="col">
            <button class="btns" id="btns">%</button>
            <button class="btns" id="btns">0</button>
            <button class="btns" id="btns">.</button>
            <button class="btns" id="btns">=</button>
        </div>

    </div>

</div>
{% endblock %}